<!DOCTYPE html>
<html>
<head>
	<title>Calculated Result</title>
</head>
<body>
	<h1>Postal Rate</h1>
	<p>The postal rate for a package of type "<%= type %>" with a weight <%= weight %> is: <%= result %></p>
</body>
</html>